<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="author" content="MO Yang">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>

<body>
  <p style="text-align:center;font-size:18px;margin:20px auto 10px auto;max-width:800px;color:#555;">Welcome to Young's Homepage</p>

  <!-- navigation -->
  <div class="navbar">
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </div>
    {% if page.subnav %}
    <div class="subnav">
      <a href="#about">About</a>
      <a href="#education">Education</a>
      <a href="#research">Experience</a>
      <a href="#news">News</a>
    </div>
    {% endif %}
  </div>

  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>
      <tr style="padding:0px">
        <td style="padding:0px">
          {{ content }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- visitor tracking (hidden map) -->
  <div style="display:none;">
    <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=aiZOzLwgw9nyLRjdSvZxs8cP--aeZDmScCHNTtIr1q8&cl=ffffff&w=a"></script>
  </div>

  <!-- acknowledgments -->
  <div style="max-width:800px;margin:0 auto;">
    <br>
    <p style="text-align:right;font-size:small;">
      Thanks to <a href="https://jonbarron.info/">Jon Barron</a> for the homepage template.
    </p>
  </div>
</body>
</html>
